.sidebar-nav { direction: rtl; }
body { direction: rtl; font-family: "B Lotus"; }
.markdown-section p { font-size: 1.1em; text-align: justify; }
p img { text-align: center; display: block; font-size: 0.8em; }
